<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">

    <xacro:include filename="inertial_macros.xacro"/>

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="left_joint_b">
            <command_interface name="velocity"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="right_joint_b">
            <command_interface name="velocity"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="left_joint_f">
            <command_interface name="velocity"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="right_joint_f">
            <command_interface name="velocity"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
            <parameters>$(find lidar_description)/config/example_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo reference="dummy">
        <sensor type="ray" name="lidar_sensor">
            <pose>0 0 0.45 0 1.5707 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <sample>720</sample>
                        <resolution>1.125</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>6.28318530718 </max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.05</min>
                    <max>16</max>
                    <resolution>000001</resolution>
                </range>
            </ray>
            <plugin filename="libgazebo_ros_ray_sensor.so" name="lidar">
                <output_type>sensor_msgs/LaserScan</output_type>
            </plugin>
        </sensor>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="body1">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="body2">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="body3">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Green</material>
    </gazebo>       

    <gazebo reference="left_wheel_f">
        <mu1>0.85</mu1>
        <mu2>0.65</mu2>
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="left_wheel_b">
        <mu1>0.85</mu1>
        <mu2>0.65</mu2>
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="right_wheel_f">
        <mu1>0.85</mu1>
        <mu2>0.65</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="right_wheel_b">
        <mu1>0.85</mu1>
        <mu2>0.65</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

</robot>